#!/bin/sh
set -e

case "${1}" in
    #The config script is run before the package is unpacked.
    reconfigure)
        #workaround for the hacky way configure/reconfigure works with maintainer scripts/debconf
        if [ -f /var/lib/dpkg/info/mozilla-minos-settings.postinst ]; then
            /var/lib/dpkg/info/sentry.postinst configure
            true
        fi
        ;;
    abort-upgrade|abort-deconfigure|abort-remove|configure)
        ;;
    *)
        printf "%s\\n" "${0} called with unknown argument \`${1}'" 1>&2
        exit 1
        ;;
esac

#DEBHELPER#
exit 0
